<div id="shop">
  <div id="header">
    <div id="header-wrap">
      {{partial "layouts/shop/header"}}
    </div>
  </div>
  <section id="content">
    <div class="content-wrap">
      {{outlet}}
    </div>
  </section>
  {{partial "layouts/shop/footer"}}
</div>