<div class="big-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-footer-sep clearfix">
          <div class="col-lg-2">
            <h3 class="no-mg">Logo</h3>
          </div>
          <div class="col-lg-10 slogan">
            <span>As melhores soluçoes!</span>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="big-footer-sep clearfix">
          <div class="col-lg-3 big-footer-menu">
            <span>Produtos e Serviços</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Link 1</li>
              <li><i class="fa fa-angle-right"></i> Link 2</li>
              <li><i class="fa fa-angle-right"></i> Link 3</li>
              <li><i class="fa fa-angle-right"></i> Link 4</li>
              <li><i class="fa fa-angle-right"></i> Link 5</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Soluções</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Link 1</li>
              <li><i class="fa fa-angle-right"></i> Link 2</li>
              <li><i class="fa fa-angle-right"></i> Link 3</li>
              <li><i class="fa fa-angle-right"></i> Link 4</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Programa</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Link 1</li>
              <li><i class="fa fa-angle-right"></i> Link 2</li>
              <li><i class="fa fa-angle-right"></i> Link 3</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Sobre nós</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Link 1</li>
              <li><i class="fa fa-angle-right"></i> Link 2</li>
              <li><i class="fa fa-angle-right"></i> Link 3</li>
              <li><i class="fa fa-angle-right"></i> Link 4</li>
              <li><i class="fa fa-angle-right"></i> Link 5</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <div class="big-footer-sep">
          <address>
            <strong>Endereço:</strong><br>
            111 Avenida, 111<br>
            Cidade, Estado, 11111-111<br>
          </address>
          <abbr title="Phone Number"><strong>Telefone:</strong></abbr> (11) 1111 11111<br>
          <abbr title="Email Address"><strong>Email:</strong></abbr> info@info.com
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h5>Copyright &copy; 2015 Loja</h5>
        </div>
      </div>
    </div>
  </div>
</footer>