<div class="big-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-footer-sep clearfix">
          <div class="col-lg-2">
            <h3 class="no-mg">Logo a</h3>
          </div>
          <div class="col-lg-10 slogan">
            <span>We believe in Simple, Creative & Flexible Design Standards.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="big-footer-sep clearfix">
          <div class="col-lg-3 big-footer-menu">
            <span>Produtos e Serviços</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Servidores Dedicados</li>
              <li><i class="fa fa-angle-right"></i> Servidores Virtuais</li>
              <li><i class="fa fa-angle-right"></i> Software</li>
              <li><i class="fa fa-angle-right"></i> Armazenamento</li>
              <li><i class="fa fa-angle-right"></i> CDN</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Soluções</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Marketing Digital</li>
              <li><i class="fa fa-angle-right"></i> E-commerce</li>
              <li><i class="fa fa-angle-right"></i> Cloud privada</li>
              <li><i class="fa fa-angle-right"></i> Soluções de Hospedagem</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Programa</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> Programa de Fidelidade</li>
              <li><i class="fa fa-angle-right"></i> Programa de Revendas</li>
              <li><i class="fa fa-angle-right"></i> Marketplace</li>
            </ul>
          </div>
          <div class="col-lg-3 big-footer-menu">
            <span>Sobre nós</span>
            <ul>
              <li><i class="fa fa-angle-right"></i> A Zertico</li>
              <li><i class="fa fa-angle-right"></i> Parceria Softlayer</li>
              <li><i class="fa fa-angle-right"></i> Equipe</li>
              <li><i class="fa fa-angle-right"></i> Trabalhe conosco</li>
              <li><i class="fa fa-angle-right"></i> Contato</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <div class="big-footer-sep">
          <address>
            <strong>Headquarters:</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
          </address>
          <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
          <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
          <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h5>Copyright &copy; 2015 Zertico</h5>
        </div>
      </div>
    </div>
  </div>
</footer>