<header class="navbar navbar-default">
  <div class="container clearfix">
    <nav>
      <a href="#" class="navbar-brand">
        Logo
        {{!-- <img src="#" alt="Logo"> --}}
      </a>
      <ul class="list-inline navbar-right main-nav">
        <li class="dropdown">
          <a href="#">Produtos e serviços</a>
          <ul style="display: none;">
            <li>
              <a href="#">Servidores Dedicados</a>
            </li>
            <li>
              <a href="#">Servidores Virtuais</a>
            </li>
            <li>
              <a href="#">Software</a>
            </li>
            <li>
              <a href="#">Armazenamento</a>
            </li>
            <li>
              <a href="#">CDN</a>
            </li>
            <li>
              <a href="#">Backup</a>
            </li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="#" class="sf-with-ul">Soluções</a>
        </li>
        <li class="sub-menu">
          <a href="#" class="sf-with-ul">Programa</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Sobre Nós</a>
        </li>
        <li>
          <a class="login" href="/br/login" class="button-logins">Login</a>
        </li>
        <li class="shopping-cart">
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>