<div id="page-menu">
  <div class="container clearfix">
    <div class="menu_page_title">
      Produtos
      <span>Loja</span>
    </div>
    <nav>
      <ul>
        {{#each model as |group|}}
          <li>
            <a>{{group.name}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
    <div id="page-submenu-trigger">
      <i class="icon-reorder"></i>
    </div>
  </div>
</div>

<section class="page_title">
  <div class="container clearfix">
    <h1>Loja</h1>
    <span>As melhores soluções de Cloud do mercado.</span>
    <ol class="breadcrumb">
      <li>
        <a>Página Inicial</a>
      </li>
      <li class="active">Loja</li>
    </ol>
  </div>
</section>

<section id="page_content">
  <div class="wrap_content pb_n">
    <div class="container clearfix">
      {{#each model as |group|}}
        <div class="col-sm-6 col-md-4">
          <div class="box_group">
            <div class="box_icon_group">
              <a>
                <i class="fa fa-cloud"></i>
              </a>
            </div>
            <h3>{{group.name}}</h3>
            <p>{{group.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <br>
    <div class="promo_box">
      <div class="container clearfix">
        <h3>
          Podemos lhe auxiliar?
        </h3>
        <span>Ficaremos felizes em lhe auxiliar caso tenha alguma dúvida, entre e fale conosco</span>
        <a class="promo_button">Contato</a>
      </div>
    </div>
  </div>
</section>