<div class='footer fixed'>
  <div class='pull-right mini-menu'>
    <a href="#" class='text-muted' style='margin-right: 20px;'>Dúvidas</a>
    <a class="btn btn-default btn-feeds" href="#" role="button" style="margin-right: 20px;">Feedback</a>
    <a href="#" class='text-muted'>Contato</a>
  </div>
  <div class="copys pull-left">
    <span class='text-muted'>Copyright © 2015 Zertico</span>
  </div>
</div>